<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<style>
    .main-text {
        font-size: 60px;
    }


    .head-section {
        position: relative;
        background-image: url('theme/image.php?theme=boost&component=theme&image=background');
        height: 400px;
        background-size: cover;
        background-position: center;
        color: #fff;
        overflow: hidden;
        /* Ensures the overlay doesn't extend beyond the container */
    }

    .head-section::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        /* Adjust the opacity by changing the last value (0.5 is 50% opacity) */
        pointer-events: none;
        /* Allows clicking through the overlay to the content beneath */
    }

    .text-w {
        position: relative;
        z-index: 1;
    }

    .img-front {
        border-radius: 1%;
    }

    .img-feature {
        width: 30%;
    }

    .img-review {
        height: 100px;
        width: 100px;
    }

    .clamp-text {}

    .img-course {
        height: 100%;
        width: 100%;
        margin: 20px 0px;
    }

    .bg-fc {
        background-color: #D8E7F0;
    }

    .fnb {
        margin-top: 30px;
    }

    .fc div {
        height: 43%;
    }

    @media (min-width:1200px) {
        .img-course {
            height: 330px;
        }
    }

    @media (max-width:1199px) {
        .main-text {
            font-size: 50px;
        }

        .fnb div {
            height: 100%;
        }

        .img-course {
            height: 200px;
        }
    }

    @media (max-width:767px) {

        .img-course {
            height: 500px;
            width: 500px;
            margin-top: 0px;
        }
    }
</style>
<div>
    <header class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- Left side: Logo / Image -->
            <a class="navbar-brand" href="#">
                <img src="{{logo}}" alt="Logo" height="45">
            </a>

            <!-- Right side: Login button -->
            <a class="btn btn-primary ml-auto" href="/login/index.php">Login</a>
        </div>
    </header>
    <section class="container head-section d-flex justify-content-center">
        <div class="row align-items-center">
            <div class="col p-4">
                <div class="text-center d-flex flex-column justify-content-center align-items-center">
                    <h1 class="font-weight-bold main-text text-w ">Flying Cape LMS <br> Learning it smarter</h1>
                    <p class="lead text-w">Personalized learning to let you study at your own pace</p>
                </div>
            </div>
        </div>
    </section>

    <section class="container text-center py-4">
        <h3 class="font-weight-bold">Features & Benefits</h3>
        <div class="row">
            <div class="col-md-4 border d-flex flex-column align-items-center fnb pt-4">
                <img src="{{fnb_1}}" alt="Designed by your Teachers" class="img-fluid img-feature">
                <div class="d-flex">
                    <h3 class="pt-4">Designed By Your Teachers</h3>
                </div>
                <p>Teacher-curated content to enhance learning.</p>
            </div>

            <div class="col-md-4 border d-flex flex-column align-items-center fnb pt-4">
                <img src="{{fnb_2}}" alt="Learn Together" class="img-fluid img-feature">
                <div class="d-flex">
                    <h3 class="pt-4">Learn Together</h3>
                </div>
                <p>Connect with teachers and collaborate with your peers.</p>
            </div>

            <div class="col-md-4 border d-flex flex-column align-items-center fnb pt-4">
                <img src="{{fnb_3}}" alt="Active Learning" class="img-fluid img-feature">
                <div class="d-flex">
                    <h3 class="pt-4">Active Learning</h3>
                </div>
                <p>Take part in forums and learning activities.</p>
            </div>
        </div>
    </section>

    <div class="bg-fc">
        <section class="container py-4 text-center">
            <h3 class="font-weight-bold">Featured Course</h3>
            <div class="row">
                <div class="col-md-4 border d-flex flex-column align-items-center fnb">
                    <img src="{{fcourse_1}}" alt="Featured Course 1" class="img-course">
                    <div class="d-flex">
                        <h4 class="clamp-text" title="ChatGPT & Leonard AI For Passive Income: Create E Book & Sell">
                            ChatGPT & Leonard AI For Passive Income: Create E Book & Sell</h4>
                    </div>
                </div>

                <div class="col-md-4 border d-flex flex-column align-items-center fnb">
                    <img src="{{fcourse_2}}" alt="Featured Course 1" class="img-course">
                    <div class="d-flex">
                        <h4 class="clamp-text" title="ChatGPT & Leonard AI For Passive Income: Create E Book & Sell">
                            Java Programming for Beginners</h4>
                    </div>
                </div>

                <div class="col-md-4 border d-flex flex-column align-items-center fnb">
                    <img src="{{fcourse_3}}" alt="Featured Course 1" class="img-course">
                    <div class="d-flex">
                        <h4>Problem Solving 101 for Children</h4>
                    </div>
                </div>
            </div>
    </div>
    </section>
</div>

<section class="container text-center py-4">
    <h3 class="font-weight-bold">Reviews</h3>

    <div class="row">
        <div class="col-md-4 d-flex flex-column align-items-center fnb pt-4">
            <img src="{{person}}" alt="Designed by your Teachers" class="rounded-circle img-review">
            <p class="mt-4">Learning in Flying Cape is great</p>
        </div>

        <div class="col-md-4 d-flex flex-column align-items-center fnb pt-4">
            <img src="{{person}}" alt="Learn Together" class="rounded-circle img-review">
            <p class="mt-4">The teacher in the Flying Cape is awesome</p>

        </div>

        <div class="col-md-4 d-flex flex-column align-items-center fnb pt-4">
            <img src="{{person}}" alt="Active Learning" class="rounded-circle img-review">
            <p class="mt-4">I trust Flying Cape for my children's future</p>

        </div>
    </div>
</section>
<div class="bg-fc">
    <section class="container py-4">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="text-center">
                    <img src="{{lms2}}" alt="Illustration" class="img-fluid img-front">
                </div>
            </div>

            <div class="col-lg-6 py-4">
                <div class="text-center">
                    <h1 class="font-weight-bold main-text">Start Your Learning</h1>
                    <a class="btn btn-primary" href="#">Join Today</a>
                </div>
            </div>
        </div>
    </section>
</div>
<footer class="container-fluid text-center bg-dark text-white py-3">
    <p>Made with ♡ by Flying Cape Technology</p>
</footer>
</div>