<section style="padding: 1em 4%; display: flex; height: 500px; width: 100%; background: rgb(36,88,141);
background: linear-gradient(180deg, rgba(36,88,141,1) 0%, rgba(99,141,184,1) 61%, rgba(216,231,240,1) 100%);
justify-content: space-evenly;
padding-top: 100px;
">
    <div style="text-align: center; flex:1">
        <img style="height: 100px; width: 110px; border-radius: 100%;" src="https://www.jamsadr.com/images/neutrals/person-donald-900x1080.jpg" alt="">
        <h3 style="color: #fff; padding-top: 10px;">Donald Michael</h3>
        <p style="color: #fff; font-size: 17px;">Giving your kids a great journey is a good investation for their future</p>
    </div>
    <div style="text-align: center; flex:1">
        <img style="height: 100px; width: 110px; border-radius: 100%;" src="https://www.jamsadr.com/images/neutrals/person-donald-900x1080.jpg" alt="">
        <h3 style="color: #fff; padding-top: 10px;">Ronald Sirati</h3>
        <p style="color: #fff; font-size: 17px;">Never stop learning!</p>
    </div>
    <div style="text-align: center; flex:1">
        <img style="height: 100px; width: 110px; border-radius: 100%;" src="https://www.jamsadr.com/images/neutrals/person-donald-900x1080.jpg" alt="">
        <h3 style="color: #fff; padding-top: 10px;">Andrew Garcia</h3>
        <p style="color: #fff; font-size: 17px;">Always give the best for our kids</p>
    </div>
</section>

<section style="padding: 1em 4%; display: flex;">
    <div style="flex: 1;">
        <img src="{{image_start}}" />
    </div>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; flex: 1;">
        <h1 style="font-weight: bold;">Start Your Learning</h1>
        <a style="background-color: #007bff; border-color: #007bff; padding: .375rem .75rem;display: inline-block;text-align: center;white-space: nowrap;
        vertical-align: middle; color: #fff; border-radius: .25em;">Join Today</a>
    </div>
</section>
